<div class="container">
    <h1 class="text-center">Criar Pensamento</h1>
    <form class="container-form-criar-pensamento" action="/pensamentos/salvar/pensamento" method="POST">
        <label for="pensamento" class="fw-bold">Pensamento: </label>
        <input type="text" class="form-control" name="pensamento" placeholder="Digite o seu pensamento">
        <div class="container d-flex flex-column align-items-center mt-2">
            <input type="submit" class="btn btn-success" value="Adicionar Pensamento">
            <a class="mt-2 fw-bold" href="/pensamentos/dashboard">Voltar</a>
        </div>
    </form>
</div>