<div class="container">
    <h1>Criar Pensamento</h1>
    <form action="/pensamentos/salvar/pensamento" method="POST">
        <label for="pensamento">Pensamento: </label>
        <input type="text" name="pensamento" placeholder="Digite o seu pensamento">
        <input type="submit" value="Adicionar Pensamento">
    </form>
</div>